.placeholdimg {
     height: 150px;
     background: #aaa;
 }
 
 a:link {
     text-decoration: none;
 }

a:hover {
     text-decoration: underline;
 }

a.external-link::after {
    content: " 🔗"; /* Adds an icon after the link */
    font-size: 0.9em;
    margin-left: 4px;
 }

 a.external-link {
    color: #0d6efd; /* Bootstrap primary blue */
    text-decoration: none;
    transition: color 0.2s ease;
 }

 a.external-link:hover {
    color: #6610f2; /* Bootstrap purple on hover */
    text-decoration: none;
 }